<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<form method="POST">
    <textarea name="comment" cols="36" rows="8" ></textarea>
    <div class="g-recaptcha" data-sitekey="6LeKw7QZAAAAACFnjcltwFWxnv2S917-7KWyjpPs"></div>
    <button>Enviar</button>
</form>